# Evita errores de permisos (EPERM) y problemas de enlaces simbólicos
node-linker=hoisted
package-import-method=copy

# Instala versiones exactas para que el build nunca cambie por sorpresa
save-exact=true
# Asegura que nadie use una versión de Node distinta a la del equipo
engine-strict=true
